<strong> Olá, {{  name  }}!</strong>
<p>
    <strong> Para a pergunta: </strong>{{ question }} <br/>
    <strong> Consideramos a melhor solução de momento:  </strong><br/>
    <strong></strong>{{ answer }}<br/>
    <strong>Em caso de dúvida, entre em contato</strong><br/>
     <br/>
     <small>
         Atenciosamente, GYMPOINT
     </small>
</p>
